.chat__home{
    padding: 0 20px;
    .action__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px;
    }

    .chat__wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 100%;
        background: #0f3b6c;
        color: #ffffff;

        .chat__sidebar{
            height: calc(100vh - 166px);
            padding: 10px;
            .search__group{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .mat-form-field{
                    background-color: #dfdfdf;
                    padding: 0 10px;
                    color: black;
                }

            }
            .chat__group_list{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                height: 53vh;
                overflow-y: auto;
                overflow-x: hidden;

                .group__items {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .icon{
                        padding: 5px;
                        flex: 1;
                        mat-icon{
                            font-size: 24px;
                        }
                    }
                    .group__details{
                        flex: 3;
                        .name{
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .chat__window{
            background-color: #dfdfdf;
            position: relative;
            color: black;

            .header{
                background: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px;
                height: 65px;
                .name{
                  .text{
                    color: #3f51b5;  
                    font-size: 16px; 
                    font-weight: 600;
                  }
                  .count{
                    color: #505fb1;  
                    font-size: 14px; 
                    font-weight: 500;
                  }
                }
                .add__member{
                    display: flex;
                    .action__btn{
                        width: 100%;
                        margin-left: 10px;
                    }
                }
            }
            .message__list{
                height: 70vh;
                overflow-y: scroll;
                overflow-x:hidden;
                .message__items{
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #3f51b5;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 10px;

                    .heading{
                        .username{
                            font-size: 14px;
                            font-weight: 600;
                            color: #3f51b5;
                        }
                        .time{
                            font-size: 12px;
                            color: #5e6cb8;
                        }
                    }
                    .message{
                        font-size: 14px;
                        max-width: 40vw;
                        word-wrap: break-word;
                        .icon{
                            cursor: pointer;
                            img{
                                vertical-align: text-bottom;
                            }
                        }
                    }
                }
                .flex--end{
                    align-items: flex-end;
                    border: 1px solid #818bc8;

                }
            }
            .msg__input_wrapper {
                display: flex;
                justify-content: flex-end;
                color: #3f51b5;
                background-color: #ffffff;
                position: absolute;
                padding: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                .msg__input{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 75%;
                    
                    .mat-form-field{
                        width: 50%;
                    }
                    .send__btn{
                        cursor: pointer;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        &:hover{
                            color: #ffffff;
                            background-color: #3f51b5
                        }
                    }
                }
            }
        }
    }

}

.group--not-selected{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: crimson;
    height: 100%;
}

.group--not-avaiable{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    height: 100%;
}
.close__btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    background: transparent;
    cursor: pointer;
    &:hover{
        background-color: transparent;
    }
}

.mat-select-panel {
    margin-top: 0; 
    box-shadow: none; 
}
  
  .mat-select-panel .mat-option {
    padding: 8px 16px; 
}


  /* Media query for 1366x768 view */
  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    .chat__wrapper {
      grid-template-columns: 300px 1fr; /* Adjusted width for sidebar */
    }

    .chat__window {
      .header {
        padding: 10px 20px; /* Adjusted padding for header */
      }

      .message__list {
        .message__items {
          .message {
            max-width: 60vw; /* Adjusted max-width for messages */
          }
        }
      }

      .msg__input_wrapper {
        padding: 0 20px; /* Adjusted padding for message input wrapper */

        .msg__input {
          .mat-form-field {
            width: 60%; /* Adjusted width for message input */
          }
        }
      }
    }
  }
